.item{
  padding: 0 20px;
  margin-top: 15px;
  text-align: left;
  font-size: 12px;
}
.item img{
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.info{
  width: 100%;
  padding-left: 15px;
  align-self: center;
}