.typeTitle{
  border-bottom: 1px solid #eee;
}
.typeList{
  height: 1.8rem;
  padding-bottom: 0.4rem;
  font-size: 0.7rem;
  color: #333;
  align-items: flex-end;
}
.typeItem{
  transition: all 0.5s;
  text-align: center;
}
.itemShow{
  font-size: 0.9rem;
  color: #33c9d4;
}

.navSwiper{
  position: relative;
}
.navSlider{
  height: 2px;
  position: absolute;
  bottom: -1px;
  transition: all 0.5s;
}
.navLine{
  height: 100%;
  background: #33c9d4;
  width: 60%;
  margin-left: 20%;
}


.swiper{
  width: 100%;
  min-height: calc(200vh - 3rem);
  padding-bottom: 3rem;
}